@import "global";

body {
  background: $primary-light;
  width: 100vw;
}
.header {
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: $primary-color;
  color: $contrast-color;
  position: relative;
  top: 0;
  display: flex;
}
.navbar__link:hover,
.navbar__link:active,
.header__brand:hover,
.header__brand:active {
  transform: scale(0.8);
  transition: transform 450ms ease-in-out;
}
.header__brand {
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem;
  cursor: pointer;
}
.navbar__links {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  position: relative;

  @include respond-to(handhelds) {
    flex-direction: column;
    background: lighten($primary-light, 10%);
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 4.5rem;
    height: 100vh;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 450ms ease-in-out;
  }

  .navbar__link {
    margin: 0 1rem;
    padding: 1rem;
    color: white;

    cursor: pointer;
    @include respond-to(handhelds) {
      margin: 1rem;
      position: relative;
    }
  }
  .navbar__link:first-child {
    border: 1px solid $contrast-color;
  }
}
.is-collapsed {
  transform: translateX(0);
}
.hamburger {
  display: none;
  z-index: 100;
  @include respond-to(handhelds) {
    display: inherit;
  }
}

.app-body {
  background: lighten($color: $primary-light, $amount: 10%);
  opacity: 0.8;
  color: white;
  margin: 0 auto;
  width: 70%;
  @include respond-to(handhelds) {
    padding: 1rem 0;
    width: 100vw;
  }
  padding: 1rem;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: 1fr 25%;
  @include respond-to(handhelds) {
    grid-template-columns: 1fr;
  }
}

.column {
  margin: 1rem;
  @include respond-to(handhelds) {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.total-owed {
  float: right;
  margin: 1rem;
}

.add-client-cont {
  width: 80%;
  flex-basis: 100%;
  margin: 1.4rem;
}
.add-client__body {
  margin: 1.4rem;
}

.add-client__form {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  grid-gap: 1rem;
  input {
    padding: 0.4rem;
  }
}

//client details

.clientdetails-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.client-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}
.client-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.client-name {
  font-size: 2rem;
  margin-bottom: 1rem;
  background: $contrast-color;
  padding: 0 1rem;
  grid-column: 1/-1;
}

.client-id {
  padding: 0 1rem;
  span {
    color: darken(white, 20%);
  }
}
.client-balance {
  justify-self: end;
}
.balance_red {
  color: rgb(240, 180, 180);
}
.balance_green {
  color: rgb(147, 211, 147);
}

.client-contact {
  margin-top: 1rem;
  border: 1px solid darken(white, 20%);
  padding: 1rem;
  span {
    color: darken(white, 20%);
  }
  hr {
    opacity: 0.5;
  }
}

.client-actions {
  .btn {
    margin: 0 0.3rem;
    color: white;
  }
}
.btn--green {
  background: green;
}
.btn--red {
  background: rgb(211, 95, 95);
}

.btn--red:hover,
.btn--green:hover {
  color: white !important;
}

.client-addbalance {
  justify-self: end;
  align-self: end;
  form {
    display: flex;
    flex-direction: column;
    * {
      margin: 0.5rem 0;
      padding: 0.3rem 0.5rem;
    }
  }
}

.login {
  overflow: hidden;
  width: 60%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;

  label {
  }
}
.login__form {
  justify-content: center;
  margin-top: 1.5rem;
  display: grid;
  grid-auto-columns: 50%;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-el {
  display: flex;
  flex-direction: column;
  text-align: center;
  * {
    margin: 0.5rem 0;
  }
}
.user-name--small {
  font-size: 0.6rem;
}

.login-link {
  padding: 0 !important;
}

.login-submit {
  grid-column: 2/-1;
}
.alert {
  padding: 1rem;
  color: white;
  margin-bottom: 1rem;

  width: 100%;
}
.alert-success {
  background: green;
}

.alert-danger {
  background: red;
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  .form-group {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
