@import "global";

body {
  background: $primary-light;
  width: 100vw;
}
.header {
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: $primary-color;
  color: $contrast-color;
  position: relative;
  top: 0;
  display: flex;
}
.navbar__link:hover,
.navbar__link:active,
.header__brand:hover,
.header__brand:active {
  transform: scale(0.8);
  transition: transform 450ms ease-in-out;
}
.header__brand {
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem;
  cursor: pointer;
}
.navbar__links {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  position: relative;

  @include respond-to(handhelds) {
    flex-direction: column;
    background: lighten($primary-light, 10%);
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 4.5rem;
    height: 100vh;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 450ms ease-in-out;
  }

  .navbar__link {
    margin: 0 1rem;
    padding: 1rem;
    color: white;

    cursor: pointer;
    @include respond-to(handhelds) {
      margin: 1rem;
      position: relative;
    }
  }
  .navbar__link:first-child {
    border: 1px solid $contrast-color;
  }
}
.is-collapsed {
  transform: translateX(0);
}
.hamburger {
  display: none;
  z-index: 100;
  @include respond-to(handhelds) {
    display: inherit;
  }
}

.app-body {
  background: lighten($color: $primary-light, $amount: 10%);
  opacity: 0.8;
  color: white;
  margin: 0 auto;
  width: 70%;
  @include respond-to(handhelds) {
    width: 100%;
    padding: 1rem 0;
    min-width: inherit;
  }
  padding: 1rem;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: 1fr 25%;
  @include respond-to(handhelds) {
    grid-template-columns: 1fr;
  }
}

.column {
  margin: 1rem;
  @include respond-to(handhelds) {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.total-owed {
  float: right;
  margin: 1rem;
}

.add-client-cont {
  width: 80%;
  flex-basis: 100%;
  margin: 1.4rem;
}
.add-client__body {
  margin: 1.4rem;
}

.add-client__form {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  grid-gap: 1rem;
  input {
    padding: 0.4rem;
  }
}
