html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
link {
  color: white;
  text-decoration: none; /* no underline */
}

@import "../node_modules/hamburgers/dist/hamburgers.min.css";

$break-narrow: 400px;
$break-small: 792px;
$break-large: 1024px;
$break-horizon: 450px;

@mixin respond-to($media) {
  @if $media == horizon {
    @media only screen and (max-height: $break-horizon) {
      @content;
    }
  }
  @if $media == narrow {
    @media only screen and (max-width: $break-narrow) {
      @content;
    }
  }
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

$break-narrow: 400px;
$break-small: 1080px;
$break-large: 1024px;
$break-horizon: 450px;

@mixin respond-to($media) {
  @if $media == horizon {
    @media only screen and (max-height: $break-horizon) {
      @content;
    }
  }
  @if $media == narrow {
    @media only screen and (max-width: $break-narrow) {
      @content;
    }
  }
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

$primary-color: #010038;
$primary-light: #293a80;
$secondary-color: #537ec5;
$contrast-color: #f39422;

table.blueTable {
  border: 1px solid #1c6ea4;
  background-color: $contrast-color;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 1rem 0;
}
table.blueTable td,
table.blueTable th {
  border: 1px solid #aaaaaa;
  padding: 1rem;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #292a2c;
}
table.blueTable thead {
  background: #1c6ea4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  background: -webkit-linear-gradient(
    top,
    #5592bb 0%,
    #327cad 66%,
    #1c6ea4 100%
  );
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #d0e4f5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #d0e4f5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  background: -webkit-linear-gradient(
    top,
    #dcebf7 0%,
    #d4e6f6 66%,
    #d0e4f5 100%
  );
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}

.btn {
  color: $primary-color !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 10px;
  border: 4px solid $primary-color !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  color: $contrast-color !important;
  border-radius: 50px;
  border-color: $contrast-color !important;
  transition: all 0.3s ease 0s;
}

.btn--small {
  padding: 3px;
  font-size: 0.5rem;
  border: 1px solid !important;
}
